.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: var(--main-blue-color);
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
  box-shadow: 0 0 15px 5px rgb(74, 74, 74);
  z-index: -2;
}
