body {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  line-height: 1.2;
}

.link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.link:hover {
  opacity: 0.65;
}

.width-80 {
  width: 80%;
}

.margin-0-auto {
  margin: 0 auto;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-90 {
  padding-top: 90px;
}

.ptb-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.oakley--pt {
  padding-top: 210px;
  padding-bottom: 100px;
}

.bg-white {
  background: white;
}

.overflow-hidden {
  overflow: hidden;
}
