.khan {
	padding-top: 100px;
}

.khan__container {
	width: 80%;
	text-align: start; 
}

.khan__author {
	font-size: 30px;
	line-height: 42px;
}

.khan__title {
	width: fit-content;
	margin: unset;
	text-align: start;
	font-size: 60px;
}

.quote {
	max-width: 790px;
	line-height: 34px;
	font-size: 24px;
	margin: 50px 0 36px 0;;
}

.quote-author {
	width: fit-content;
	display: block;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}

.quote-author-subline {
	font-size: 24px;
}

.book__container {
	display: flex;
	gap: 48px;
	margin-top: 68px;
}

.book__pic {
	min-width: 620px;
	min-height: 608px;
	background: url('../../images/khan-book.jpg') no-repeat ;
}

.buy__link {
	line-height: 42px;
	font-size: 30px;;
}


