.techniques {
	margin: 0 auto;
	padding-top: 100px;
	background: white;
}

.cards {
	max-width: 920px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:  60px 100px;
	text-align: center;
	margin-top: 60px;
}

.cards__image {
	width: 160px;
	border-radius: 50%;
	margin: 0 40px 43px 40px;
}

.cards__title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 16px;
}

.cards__description {
	font-size: 18px;
	line-height: 23px;
}